body {
    font-family: 'Edu QLD Beginner', cursive;
    background-color: gray;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_child {
    width: 20%;
    text-align: center;
    border: 1px solid lightgray;
    background-color: lightgray;
    padding: 10px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

input {
    width: 70%;
    height: 50px;
    text-align: center;
    font-size: 22px;
}